<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Style:</strong>
  <%= @game.style %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @game.quantity %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
